{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
    
    {{ form_start(passForm) }}
        {{ form_row(passForm.password) }}
        <div class="mb-9">
            <input type="submit" value="Réinitialiser" class="w-full px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-primary bg-primary hover:bg-blue-dark" />
        </div>
    {{ form_end(passForm) }}
</div>
{% endblock %}
